@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #0e0e0e;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.avatar__title {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  padding: 28px 0px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 120px;
  height: 40px;
}
.header__logo img {
  width: 100%;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu-link {
  padding-right: 80px;
}
.header__menu-link a {
  display: inline-block;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 20px;
  color: #ffffff;
}
.header__menu-link a:hover {
  color: #f7c356;
}
.header__menu-link a:after {
  position: absolute;
  top: 24px;
  background-color: #f7c356;
  /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 1px;
  /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.header__menu-link a:hover:after, .header__menu-link a:focus:hover {
  width: 100%;
}
.header__menu-link:last-child {
  padding-right: 0px;
}
.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__links .header__link {
  width: 23px;
  height: 23px;
}
.header__links .header__link img {
  width: 100%;
  height: 100%;
}
.header__links .search {
  margin-right: 16px;
}

.person {
  margin: 48px 0px 70px 0px;
}
.person__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}
.person__block-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 282px;
          flex: 0 0 282px;
  height: 282px;
  border-radius: 20px;
  background-color: #d9d9d9;
  margin-right: 24px;
  position: relative;
}
.person__block-img::after {
  position: absolute;
  content: "";
  background-image: url(../img/personalAcc/avatar.svg);
  width: 153px;
  height: 173px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.person__info-name {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.person__info-mail {
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.person__compilation {
  margin-bottom: 32px;
}
.person__compilation-title {
  margin-bottom: 16px;
}
.person__compilation-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.person__watched-title {
  margin-bottom: 16px;
}
.person__watched-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.person__block {
  border-radius: 12px;
  width: 223px;
  height: 220px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ffffff;
}
.person__block img {
  max-width: 100%;
}
.person__block:after {
  display: none;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
}
.person__block:hover:after {
  display: block;
  opacity: 0.5;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 42px 0px 32px 0px;
  background-color: #000000;
  color: #ffffff;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner a {
  color: #ffffff;
}
.footer__approval {
  line-height: 18px;
}
.footer__social a {
  padding-right: 28px;
}